<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs')%>
<main>
    <% if (prods.length > 0) { %>
        <div class="grid">

        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>
</main>

</body>